<div class="container">
  <div class="question">"<%= @question %>"<br><em>-You</em></div>
  <div class="answer">"<%= @answer %>"<br><em>-Your coach</em></div>
</div>
<%= link_to "Ask another question", "questions#ask" %>
